@font-face {
    font-family: "cocogoose light";
    src: url("Cocogoose-Light.eot");
    src: url("Cocogoose-Light.ttf");
    src: url("Cocogoose-Light.woff");
    src: url("Cocogoose-Light.woff2");
}