@font-face {
    font-family: montserrat-rg;
    src: url("Montserrat-Regular.eot");
    src: url("Montserrat-Regular.ttf");
    src: url("Montserrat-Regular.woff");
    src: url("Montserrat-Regular.woff2");
}